<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/kana-list.html">
<link rel="import" href="../elements/change-font.html">
<link rel="import" href="../elements/exercises-list.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="practice-katakana">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <section class="card">
    <template is="dom-if" if="{{!hideUI}}">
      <h1 class="view-title">Practice Katakana</h1>
    </template>
    <exercises-list kana="{{katakana}}" hide-u-i="{{hideUI}}" font="{{fontSelected}}"></exercises-list>
    </section>
    <template is="dom-if" if="{{!hideUI}}">
      <section class="card">
        <change-font font="{{fontSelected}}"></change-font>
      </section>
      <section class="card">
        <kana-list font="{{fontSelected}}" kana="{{katakana}}"></kana-list>
      </section>
    </template>
  </template>

  <script>
    Polymer({
      is: 'practice-katakana',
      properties: {
        fontSelected: {
          type: String,
          value: 'wf-notosansjapanese'
        },
        hideUI: {
          type: Boolean,
          value: false
        }
      }
    });
  </script>
</dom-module>
